// scss-lint:disable all
@font-face {
  font-family: 'tommorow';
  src: url('./assets/fonts/tommorow.eot');
  src: url('./assets/fonts/tommorow.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/tommorow.ttf') format('truetype'),
    url('./assets/fonts/tommorow.woff') format('woff'),
    url('./assets/fonts/tommorow.svg#tommorow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
